
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    link(rel="stylesheet" href="css/style.css")
  body
    canvas(id="canvas")
    //- img(id="ball" src="images/ball.svg" style="display: none; background-repeat: no-repeat")
    img(id="ball" src="images/fire2.gif" style="display: none; background-repeat: no-repeat")
    img(id="grass" src="images/stoune.jpg" style="display: none; background-repeat: no-repeat")
    img(id="bg" src="images/bg.jpg" style="display: none; background-repeat: no-repeat")
    img(id="lava" src="images/lava.png" style="display: none; background-repeat: no-repeat")
    script(type="text/javascript" src="lib/jquery-2.2.4.min.js")
    script(type="text/javascript" src="lib/point_js.js")
    script(src="js/keyboard-controller.js")
    script(src="js/main.js")
    script(src="js/player.js")
    script(src="js/graph.js")
    script(src="js/keys.js")
    script(src="js/game.js")
    script(src="js/level.js")
