mixin eye(content, params)
  .eye&attributes(attributes)
    +eye__item.eye__item_left
    +eye__item.eye__item_right

mixin eye__item(content, params)
  .eye__item&attributes(attributes)
    .eye__item-apple

      //return 