body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 769px) {
    body {
      display: block; } }

canvas {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: contain;
  position: relative;
  display: block;
  margin: auto; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #444141; }

.title {
  font-size: 50px;
  margin-bottom: 30px;
  color: #801818;
  text-align: center;
  margin-top: 20px;
  background-color: #535158;
  width: 100%; }

.control__again {
  height: 60px;
  margin: 30px auto 0;
  position: relative;
  width: 200px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.submit {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #273439;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 20px;
  font-weight: 200;
  height: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  -webkit-transition: background 300ms, opacity 500ms 800ms;
  -o-transition: background 300ms, opacity 500ms 800ms;
  transition: background 300ms, opacity 500ms 800ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 200px; }

.submit:hover {
  background: #0e232e; }

svg {
  left: -200px;
  position: absolute;
  top: -60px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

path {
  fill: #0e232e;
  stroke: #0e232e;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: fill 1200ms, stroke 1200ms, -webkit-transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045);
  transition: fill 1200ms, stroke 1200ms, -webkit-transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045);
  -o-transition: transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045), fill 1200ms, stroke 1200ms;
  transition: transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045), fill 1200ms, stroke 1200ms;
  transition: transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045), fill 1200ms, stroke 1200ms, -webkit-transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045); }

.refresh {
  bottom: 10px;
  cursor: pointer;
  font-weight: 400;
  left: auto;
  position: absolute;
  right: 30px;
  top: auto;
  width: 50px; }
