mixin table(content, params)
  .table&attributes(attributes)
    .table__header
      .table__header-item(data-id="nameItem").table__header_text Name
        .table__sort-top
        .table__sort-bottom
      .table__header-item(data-id="codeItem") Code
        .table__sort-top
        .table__sort-bottom
      .table__header-item(data-id="priceItem") Price
        .table__sort-top
        .table__sort-bottom
      .table__header-item(data-id="gotItem").table__header_text Have Something
        .table__sort-top
        .table__sort-bottom
      .table__header-item(data-id="dateItem") Date
        .table__sort-top
        .table__sort-bottom
    .table__columns
      .table__column(id="nameItem")
        .table__item Name_1
        .table__item Name_2
        .table__item Name_3
        .table__item Name_4
        .table__item Name_5
        .table__item Name_6
      .table__column(id="codeItem")
        .table__item 12345
        .table__item 456452
        .table__item 135790
        .table__item 122233
        .table__item 3345
        .table__item 185065
      .table__column(id="priceItem")
        .table__item 3500
        .table__item 8000
        .table__item 7500
        .table__item 400
        .table__item 900
        .table__item 11700
      .table__column(id="gotItem")
        .table__item yes
        .table__item no
        .table__item yes
        .table__item yes
        .table__item no
        .table__item yes
      .table__column(id="dateItem")
        .table__item 2015
        .table__item 2015
        .table__item 2018
        .table__item 2013
        .table__item 2014
        .table__item 2015
    block

    //-   .table__item.table__header(data-num="0").table__header_text Name
    //-     .table__sort-top
    //-     .table__sort-bottom
    //-   .table__item Name_1
    //-   .table__item Name_2
    //-   .table__item Name_3
    //-   .table__item Name_4
    //-   .table__item Name_5
    //-   .table__item Name_6
    //- .table__column(id="CodeItem")
    //-   .table__item.table__header(data-num="1") Code
    //-     .table__sort-top
    //-     .table__sort-bottom
    //-   .table__item 12345
    //-   .table__item 456452
    //-   .table__item 135790
    //-   .table__item 122233
    //-   .table__item 3345
    //-   .table__item 185065
    //- .table__column(id="priceItem")
    //-   .table__item.table__header(data-num="2") Price
    //-     .table__sort-top
    //-     .table__sort-bottom
    //-   .table__item 3500
    //-   .table__item 8000
    //-   .table__item 7500
    //-   .table__item 400
    //-   .table__item 900
    //-   .table__item 11700
    //- .table__column(id="gotItem")
    //-   .table__item.table__header(data-num="3").table__header_text Have Something
    //-     .table__sort-top
    //-     .table__sort-bottom
    //-   .table__item yes
    //-   .table__item no
    //-   .table__item yes
    //-   .table__item yes
    //-   .table__item no
    //-   .table__item yes
    //- .table__column(id="dateItem")
    //-   .table__item.table__header(data-num="4") Date
    //-     .table__sort-top
    //-     .table__sort-bottom
    //-   .table__item 2015
    //-   .table__item 2015
    //-   .table__item 2018
    //-   .table__item 2013
    //-   .table__item 2014
    //-   .table__item 2015