mixin carousel(content, params)
  .carousel&attributes(attributes)
    .carousel__block
      //- .carousel__block-list
      //- +carousel__item.carousel__item_bblue.carousel__item_left-left
      //- +carousel__item.carousel__item_purple.carousel__item_left
      //- +carousel__item.carousel__item_red.carousel__item_previous
      //- +carousel__item.carousel__item_orange.carousel__item_main
      //- +carousel__item.carousel__item_yellow.carousel__item_next
      //- +carousel__item.carousel__item_green.carousel__item_right
      //- +carousel__item.carousel__item_blue.carousel__item_right-right

      
      //- +carousel__item.carousel__item_orange.carousel__item_left-left
      //- +carousel__item.carousel__item_purple.carousel__item_left
      //- +carousel__item.carousel__item_green.carousel__item_previous
      //- +carousel__item.carousel__item_orange.carousel__item_main
      //- +carousel__item.carousel__item_purple.carousel__item_next
      //- +carousel__item.carousel__item_green.carousel__item_right
      //- +carousel__item.carousel__item_orange.carousel__item_right-right

      
      //- +carousel__item.carousel__item_orange
      //- +carousel__item.carousel__item_purple
      //- +carousel__item.carousel__item_green.carousel__item_previous
      //- +carousel__item.carousel__item_orange.carousel__item_main
      //- +carousel__item.carousel__item_purple.carousel__item_next
      //- +carousel__item.carousel__item_green
      //- +carousel__item.carousel__item_orange

      
      //- +carousel__item.carousel__item_orange
      //- +carousel__item.carousel__item_purple
      //- +carousel__item.carousel__item_green.carousel__item_active.carousel__item_previous
      //- +carousel__item.carousel__item_orange.carousel__item_active.carousel__item_main
      //- +carousel__item.carousel__item_purple.carousel__item_active.carousel__item_next
      //- +carousel__item.carousel__item_green
      //- +carousel__item.carousel__item_orange    

      
      //- +carousel__item.carousel__item_orange.carousel__item_left-left-left
      //- +carousel__item.carousel__item_purple.carousel__item_left
      //- +carousel__item.carousel__item_green.carousel__item_previous
      //- +carousel__item.carousel__item_orange.carousel__item_main
      //- +carousel__item.carousel__item_purple.carousel__item_next
      //- +carousel__item.carousel__item_green.carousel__item_right
      //- +carousel__item.carousel__item_orange.carousel__item_right
      //- +carousel__item.carousel__item_purple.carousel__item_right-right-right

      +carousel__item.carousel__item_orange.carousel__item_left-left-left
      +carousel__item.carousel__item_purple.carousel__item_left-left-left
      +carousel__item.carousel__item_green.carousel__item_right
      +carousel__item.carousel__item_orange.carousel__item_active.carousel__item_active-1
      +carousel__item.carousel__item_purple.carousel__item_active.carousel__item_active-2
      +carousel__item.carousel__item_green.carousel__item_active.carousel__item_active-3
      +carousel__item.carousel__item_orange.carousel__item_left
      +carousel__item.carousel__item_purple.carousel__item_right-right-right


mixin carousel__item(content, params)
  .carousel__item&attributes(attributes)
    - for (i = 0; i < 8; ++i) {
      +carousel__item-level
    - }

mixin carousel__item-level(content, params)
  .carousel__item-level&attributes(attributes)
      .carousel__item-window
      .carousel__item-window
      .carousel__item-window