mixin anim(content, params)
  .anim&attributes(attributes)
    .anim__block
      .anim__text Animation
      input.anim__input
      .anim__text Number
      input.anim__number
      .anim__text Press OK
      button.anim__button OK
      .anim__result
