include ../../styles/project.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="../../styles/styles.css")
    <script type="text/javascript" src="../../lib/jquery-2.2.4.min.js" defer></script>
    <script type="text/javascript" src="../../components/anim/anim.js" defer></script>
    <script type="text/javascript" src="script.js" defer></script>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script type="text/javascript" src="../../styles/project.js" defer></script>
    <script src="./js/main.js"></script>
  body
    +header
    .page
      +anim
      +lang