mixin content(content, params)
  .content&attributes(attributes)
    +content__item({title: "Games"})
      +content__carousel
    block


mixin content__item(content, params)
  .content__item&attributes(attributes)
    .content__item-title!=content.title
    block

mixin content__carousel(content, params)
  .content__carousel&attributes(attributes)
    .content__carousel-wrapper
      +content__carousel-item({title: "Sea ​​Battle"})
      +content__carousel-item({title: "Souls Collection"})
    .content__carousel-pagination
      .content__carousel-left
      .content__carousel-right
    block

mixin content__carousel-item(content, params)
  .content__carousel-item&attributes(attributes)
    .content__carousel-image
    .content__carousel-title!=content.title
    block