
//- include ../components/data.json as copyright
include ../components/header/header.pug
include ../components/content/content.pug
include ../components/list/list.pug
include ../components/table/table.pug
include ../components/filters/filters.pug
include ../components/carousel/carousel.pug
include ../components/eye/eye.pug
include ../components/anim/anim.pug
include ../components/balls/balls.pug
include ../components/lang/lang.pug
include ../components/pug-list/pug-list.pug
include ../components/light/light.pug
include ../components/row/row.pug

mixin page
  -
    // import as copyright from '../components/data.json';
    // let copyright = JSON.parse(data);
    // copyright = getData("../components/data.json")

  .page
    block

